<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--  Add all profiles here for IntelliJ to pick up.  -->
    <beans>

    </beans>
    <beans profile="demo">

    </beans>
    <beans profile="dev">

    </beans>
    <beans profile="debug">

    </beans>
    <beans profile="debug-spring">

    </beans>
    <beans profile="debug-all">

    </beans>
    <beans profile="prod">

    </beans>

</beans>
